.sidebar
  .sidebar__username
    .topitems
      .topitems__name
        = current_user.name
      .topitems__icons
        = link_to new_group_path do
          = icon('far', 'edit', class: 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'cog')
  .groups
    - current_user.groups.each do |group|
      .groups__group
        = link_to group_messages_path(group), class: "group" do
          .groups__group__groupname
            = group.name
          .groups__group__new-message
            = group.show_last_message